
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html::-webkit-scrollbar {
    display: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #202020;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease; 
  }
  
  
  .menu-icone {
    width: 30px;
    cursor: pointer;
    margin-left: -20px;
  }
  
  .menu-icone .bar {
    width: 100%;
    height: 4px;
    margin: 5px 0;
  }
  
  #menuhamburguer {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #202020;
    transition: left 0.3s;
    z-index: 1000;
  }
  
  
  .text-card{
    display: flex;  
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 17px;
  }
  .qtdprocess{
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;

  }
  #menuhamburguer.open {
    left: 0; 
  }
  
  .logo {
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    width: 120px;
  }
  
  .menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px 0;
    
  }
  
  .menu-items .naoAtivo{
    background-color: #202020; 
    padding: 10px; 
    width: 250px;
  }
  
  .menu-items li {
    margin: 10px 0;
    display: block; 
    width: 100%; 
    /* display: flex;
    justify-content: flex-start; 
    align-items: center;  */
    flex-direction: row; 
    text-align: left; 
    transition: background-color 0.3s ease;
  }
  
  .menu-items li:hover {
    background-color: #000000;
  }
  
  .menu-items img {
    width: 55px; 
    height: 55px;
    margin-right: 10px;
  }
  
  .menu-items a {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    text-decoration: none;
    color: white;
    margin-bottom: 0;
  }
  
  .menu-items a:hover{
  color: #fcdf3b;
  }
  
    #main-Container {
      transition: transform 0.3s ease; 
    }
  
  #main-header {
    transition: transform 0.3s ease; 
  }
  
  .menu-open #main-Container {
    transform: translateX(250px); 
  }
  
  .menu-open #main-header {
    transform: translateX(250px);
  }
  
  .Ativacao {
    display: flex;
    align-items: center;
  }
  
  .Ativacao button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 5px;
    width: 80px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
  .Ativacao button:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 215, 0, 0.6);
    text-shadow: 0 0 5px rgba(255, 215, 0, 1), 0 0 10px rgba(255, 215, 0, 0.8); 
  }
  
  #main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
    padding: 0 20px;
    background-color: #202020;
    color: white;
  }
  
  .perfil {
    display: flex;
    align-items: center;
    overflow: hidden; 
  }
  
  .perfil img {
    width: 120px; 
    height: 120px; 
    margin-left: 10px;
    object-fit: cover; 
  }
  
  main {
    width: 90%;
    max-width: 1200px;
    margin-top: 80px;
  }
  
  .controles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .controles select {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 10px;
    width: 45%;
  }
  .funcionario-atual{
    font-weight: 30px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    height: 40px;
    background-color: #202020;
    text-align: center;
    padding: 10px;
  }
  .funcionario-atual:hover{
    background-color: #FFD700;
    color: black;
    transition-duration: 1s;
  }
  .maquina{
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 10px;
    width: 55%;
    align-items: center;
     margin-left: 22%;
  }
  .dashboard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .dashboard1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .graficos{
    width: 300px;
    height: 450px;
  }
  .mensagem-estilo{
    text-align: center;
    margin-top: 17%;
    font-size: 18px;
  }
  .mensagem-estilo2{
    text-align: center;
    margin-top: 22%;
    font-size: 18px;
  }
  .chart-container {
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 450px;
  }

  .chart-container2{
    background-color: #202020;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 65%;
    height: 450px;

  
  }
  .texto-card{
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
  }
  .texto-card b{
    font-size: 20px;
  }
  .text-ranking{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
  }
  
  .status-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
  }
  
  .status-boxes2 {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin-top: 20px;
  }
  
  .status-card {
    width: 200px;
    height: 110px;
    margin: 20px 0;
    background-color: #202020;
    border-radius: 7%;
    margin-left: 50px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
  .status-card2 {
    width: 400px;
    height: 110px;
    margin: 20px 0;
    background-color: #202020;
    border-radius: 7%;
    margin-left: 50px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
  .status-card:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .status-card2:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  

  
  .status-card {
    border-color: #FFD700;
    border: 2px solid #FFD700;
  }
  
  .cor-botoes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .menu-img {
    width: 60px; 
    height: 60px; 
    cursor: pointer;
  }
  
  .cor-box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
  
  .menu-items .ativo {
    background-color: #000000; 
    padding: 10px; 
    width: 250px;
  }
  
  .menu-items .ativo a {
    color: #fcdf3b;
  }
  
  .Ativacao {
    display: flex;
    align-items: center;
  }
  
  .Ativacao button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }
  
  .perfil-wrapper {
    margin-left: auto; 
    display: flex;
    align-items: center;
    position: fixed; 
    right: 0;
    z-index: 1000; 
    gap: 30px;
  }
  
  .perfil-container {
    display: flex;
    align-items: center;
    background-color: #504e4e;
    padding: 10px;
    width: 200px;
    height: 60px;
  }
  
  .perfil-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border:1.5px solid #000000;
  }
  
  .perfil-text {
    display: flex;
    flex-direction: column;
  }
  
  .perfil-text .nome {
    font-size: 16px;
    font-weight: bold;
  }
  
  .perfil-text .legenda {
    font-size: 12px;
    color: #777;
  }
  
  .tabela {
    width: 100%;
    margin: 5% auto;
    border-collapse: collapse;
   }
   
   .tabela thead {
    background-color: #FFD700;
    color: black;
   }
   
   .tabela th,
   .tabela td {
    padding: 1%;
    border: 1px solid #000000;
    text-align: center;
   }
    
  
  .titulo_ranking{
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #202020;
    margin: 10% auto; 
    padding: 15px;
    border: 1px solid #888;
    width: 90%; 
    max-width: 600px; 
    height: 500px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #fcfcfc;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.resp_maquina {
  display: flex;
  justify-content: center;
    margin: 10px 0;
}

.info-container {
    display: flex; 
    align-items: center;
}

.imagem-model {
    width: 80px; 
    height: auto;
    margin-right: 15px; 
}

.info-section {
  align-items: center;
    flex-grow: 1; 
}

.mini-titulo {
    font-weight: bold;
    align-items: center;
    margin: 5px 0;
    color: rgb(255, 255, 255);
}

.info-text {
    margin: 0 0 10px 0;
    color: #ffffff;
}

.divider {
    border: 1px solid #ccc;
    margin: 15px 0;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
}

.info-item {
    background-color: #202020; 
    border-radius: 5px; 
}