/*
    Paleta de cores:

#000 background
#333233
#fee600
#ffff00
#ffff56
#ffff81

Fontes: 
    Constantia
    Georgia

*/

@font-face {
    font-family: 'League Spartan';
    src: url('./fontes/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    /* o padding e a borda são contados no tamanho definido */
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #eeeeee00;
}



/*CADASTRO*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
    background-image: url('../assets/imgs/Fundo_Login_Cadastro2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilização do título no container de cadastro */
.titleCad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -111px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 12px;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
}

.cadastre_esquerda {
    height: 70%;
    width: 28%;
    border-radius: 10px 0 0 10px;
    background-color: black;
    display: flex;
    padding: 35px;
    flex-direction: column;
}

.cadastre {
    height: 70%;
    width: 28%;
    border-radius: 0 10px 10px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ajusta o layout para que o botão fique no final */
    padding: 0px;
    /* Adiciona espaçamento interno */
}

.cadastre_esquerda img {
    width: 32vh;
    height: 9vh;
}

.cadastre_esquerda h1 {
    color: #ffffff;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 40px;
}

.cadastre_esquerda b {
    color: #fce251;
}

.cadastre_esquerda h2 {
    margin-top: 0.8vh;
    margin-right: 3vh;
    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FCDF3B;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10vh;
    margin-left: 0vh;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    transition: color 0.6s, background-color 0.6s;
    align-self: center;
}

button:hover {
    background-color: transparent;
    border: 1px solid #FCDF3B;
    color: #FCDF3B;
}

.cadastre button {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-left: 16vh;
    margin-top: 6vh;
}

.cadastre button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.inputs .inputs-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs-login button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6vh;

}

.input-grupo {
    display: flex;
    justify-content: space-between;
    gap: 12px;

}

.input-grupo_login {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

.input-caixa {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4px;

}

.input-caixa label {
    font-weight: 900;
}

.input-field {
    margin-top: 5px;
    height: 60%;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
}
.input-field-email{
    width: 100%;
    margin-top: 5px;
    height: 60%;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
}
.input-field_cargo {
    width: 105%;
    margin-top: 5px;
    height: 60%;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
}

.input-field i {
    color: #000000;
    width: 16px;
    height: 16px;
}

.input-field_cargo i {
    color: #000000;
    width: 16px;
    height: 16px;
}
.input-field-email i {
    color: #000000;
    width: 16px;
    height: 16px;
}

.input-field input,
.input-field select {
    width: 100%;
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    background-color: white;
}

.input-field_cargo input,
.input-field_cargo select {
    width: 100%;
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    background-color: white;
}

.input-field-email input,
.input-field-email select {
    width: 100%;
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    background-color: white;
}

.input-field:focus-within {
    border: 2px solid black;
}

#div_mensagem {
    color: #fbff00;
    margin-top: 10px;
    text-align: center;
}

.possui_cadastro {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'League Spartan', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 0.8vh;
}

.possui_cadastro_a {
    text-decoration: underline;
    color: #000;

}

h2 {
    text-align: center;
    color: #ffffff;
}

.formulario {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card {
    justify-content: center;
    padding: 20px;
    height: 20vh;
    margin: auto;
}

.card button {
    margin-left: 30%;
}

.botao {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.botao button {
    margin: 5vh;
    height: 100%;
    width: 40%;
    background-color: #000;
    color: #fff;
    /* width: fit-content; */
    cursor: pointer;
    transition: color 0.6s, background-color 0.6s;
    /* Correção no tempo de transição */
}


.botao button:hover {
    background-color: #ffff00;
    color: #000;
    font-weight: bold;
}

.headerBarResp {
    display: none;
}

.burguer {
    position: relative;
    margin-top: 20px;
    display: none;
    width: 45px;
    height: 45px;
    margin-left: 15px;
    cursor: pointer;
    background-color: #ffff00;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.burguer::before {
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background: #000;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #000;
}

.burguer::after {
    margin-top: 37px;
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    background: #000;
    transform: translateY(-9px);
    transition: 0.5s;
}


@media screen and (max-width: 768px) {
    .cadastre_esquerda {
        display: none;
    }

    .cadastre {
        height: 80% !important;
        width: 75% !important;
        max-width: 110%;
        border-radius: 10px 10px 10px 10px;
    }

    .cadastre button {
        width: 130px;
        margin-left: 8vh;
        margin-top: 3vh;
    }

    .input-grupo {
        flex-direction: column;
        gap: 0px;
    }

    .input-caixa {
        flex-direction: column;
    }

    .input-field {
        width: 90%;
    }

    .input-field_cargo {
        width: 90%;
    }

    .input-field i {
        width: 16px;
        height: 16px;
    }

    .input-field_cargo i {
        width: 16px;
        height: 16px;
    }

    .input-field
    .input-field select {
        width: 40%;
    }

    #div_mensagem {
        color: #fbff00;
        margin-top: 10px;
        text-align: center;
    }

    .titleCad {
        width:200px;
        height: 0;
        font-size: 30px;
        margin-top: -170px;
    }

    .possui_cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px !important;
        margin-top: 0.8vh;
    }

    .card button {
        margin-left: 25% !important;
    }
}

@media screen and (max-width: 1200px) {
    .cadastre {
        width: 50%;
        height: 60%;
    }

    .cadastre_esquerda {
        width: 40%;
        justify-content: center;
        height: 60%;
    }

    .cadastre_esquerda h1 {
        font-size: 35px;
    }

    .cadastre_esquerda button {
        margin-left: 0%;
        margin-top: 5vh;
    }

    .cadastre_esquerda img {
        width: 250px;
        height: 100px;
    }

    .card span {
        font-size: 18px;
    }

    button {
        width: 130px;
        margin: 0px;
    }

    .card button {
        margin-left: 35%;
    }

    
    
}